absl-py==2.1.0
appdirs==1.4.4
astunparse==1.6.3
atomicwrites==1.4.0
clyent==1.2.2
conda-repo-cli==1.0.75
conda-verify==3.4.2
et-xmlfile==1.1.0
flatbuffers==24.3.25
fonttools==4.25.0
gast==0.4.0
google-auth==2.29.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.62.2
h5py==3.11.0
inflection==0.5.1
jsonpointer==2.1
keras==2.12.0
libclang==18.1.1
mkl-service==2.4.0
ml-dtypes==0.3.2
munkres==1.1.4
namex==0.0.8
numpy==1.23.5
oauthlib==3.2.2
openpyxl==3.0.10
opt-einsum==3.3.0
optree==0.11.0
patsy==0.5.3
ply==3.11
protobuf==3.20.3
pyasn1-modules==0.2.8
pycurl==7.45.2
PyDispatcher==2.0.5
pyls-spyder==0.4.0
PyQt5==5.15.10
python-lsp-jsonrpc==1.0.0
pywin32==305.1
requests-oauthlib==2.0.0
rsa==4.9
scipy==1.11.4
streamlit==1.33.0
tensorboard==2.12.3
tensorboard-data-server==0.7.2
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-intel==2.12.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
webencodings==0.5.1
zstandard==0.19.0
